.showcase-div h2{
    font-size: 3vw;
}
.showcase-div h1{
    font-size: 8vw;
}
.showcase-right-div img{
    width: 100%;
}
.typewriter{
    font-size: 20px;
}
.project-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 1120px){
    .skill-div{
        width: 120px !important;
    }
}
@media (min-width: 634px){
    .skill-div{
        width: 80px !important;
    }
}